/* You can add global styles to this file, and also import other style files */

.sectionheader {
    font-size: 200%;
    text-align: center;
}

.bookLinks {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 50px;
}

.searchButton {
    float: right;
    padding-left: 100px;
    padding-right: 100px;
}

.bookLink {
    float: left;
}